

<ion-header >
  <ion-toolbar color="tertiary">
    <ion-title>
      Tâches
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="modalOpened ? 'container' : '' "  >

  <!-- Refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content >
    </ion-refresher-content>
  </ion-refresher>

  <div class="img-bg">
    <div>
      <h1><b>Aujourd'hui</b></h1>
      <h5>{{ currentDate }}</h5>
    </div>


    <!-- TasksComponent -->
    <app-tasks></app-tasks>

    <ion-buttons class="add-btn">
      <ion-button (click)="onAddTaskClick()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
</ion-content>
