<ion-header >
  <ion-toolbar color="tertiary">
    <ion-title>
      Tâches
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="modalOpened ? 'container' : '' "  scrollY="false">

  <!-- Refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content >
    </ion-refresher-content>
  </ion-refresher>

  <div class="img-bg">
    <div style="display: flex; padding-left: 6%; padding-top: 3%;">
      <ion-icon class="weather-icon" size="large" [name]="weatherIcon" color="warning"></ion-icon>
      <ion-label class="temp">{{ currentMeteoTemperature }} °C</ion-label>
    </div>
    <h1><b>Aujourd'hui</b></h1>
    <h5>{{ currentDate }}</h5>

    <!-- TasksComponent -->
    <app-tasks></app-tasks>

    <ion-buttons class="add-btn">
      <ion-button (click)="onAddTaskClick()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
</ion-content>
