<ion-buttons slot="start" style="padding-left: 10px; padding-top: 15%;">
  <ion-back-button defaultHref="auth" color="dark" text="Retour">
  </ion-back-button>
</ion-buttons>

<div class="div-content">
  <ion-grid>
    <ion-row>
      <ion-col sizeSm="6" offsetSm="3" sizeXl="3" offsetXl="4.5" style="text-align: center;">
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

          <div class="logo">
            <ion-icon color="light" name="person-add"></ion-icon>
          </div>

          <ion-card class="card">
            <ion-card-title color="dark" class="title">
              Créer un compte
            </ion-card-title>
          </ion-card>


          <ion-item id="name">
            <ion-icon name="person-outline" class="login-ion-icon"></ion-icon>
            <ion-input formControlName="name" color="dark" placeholder="Nom">
            </ion-input>
          </ion-item>

          <ion-item id="username">
            <ion-icon name="person-outline" class="login-ion-icon"></ion-icon>
            <ion-input formControlName="username" color="dark" placeholder="Nom d'utilisateur">
            </ion-input>
          </ion-item>

          <ion-item id="password">
            <ion-icon name="key-outline" class="login-ion-icon"></ion-icon>
            <ion-input formControlName="password" color="dark" type="password" placeholder="Mot de passe">
            </ion-input>
          </ion-item>

          <br>

          <ion-button class="sumbit-button" type="submit" [disabled]="!registerForm.valid" color="primary"
            expand="block" shape="round" fill="outline">Créer le compte</ion-button>

        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
