<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancelSettings()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Paramètres
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="validateSettings()" [disabled]="!selectedFile">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card style="text-align: center;">
    <ion-card-header>
      <ion-icon name="information-circle-outline" size="large"></ion-icon>
    </ion-card-header>

    <ion-card-content style="text-align: center;">
      <ion-item>
        <ion-icon name="person-outline" class="login-ion-icon"></ion-icon>
        <ion-label color="dark" [textContent]="userInfos.name">
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="person-outline" class="login-ion-icon"></ion-icon>
        <ion-label color="dark" [textContent]="userInfos.username">
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>




  <ion-card class="ion-text-center">
    <ion-card-title>Image de fond</ion-card-title>
    <ion-card-content>
      <input type="file" multiple="false" accept="image/png, image/gif, image/jpeg" (change)="onFileSelected($event)">
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div style="padding: 20px;">
      <ion-button shape="round" color="tertiary" expand="block" shape="round" fill="outline" (click)="onLogOut()">
        <ion-icon name="log-out-outline"></ion-icon>
        Déconnexion
      </ion-button>
    </div>
  </ion-toolbar>

</ion-footer>
