ion-item {
  --ion-background-color: transparent !important;
}

.logo {
  position: relative;
  height: 250px;
  animation: Slide_up 1s ease-out;
}

.logo ion-icon {
  font-size: 9em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-ion-icon {
  padding-right: 20px;
}

#username {
  animation: Slide_up 1s ease-out;
  animation-delay: 0.2s;
  animation-fill-mode: backwards;
}

#password {
  animation: Slide_up 1.1s ease-out;
  animation-delay: 0.3s;
  animation-fill-mode: backwards;
}

#forgot-password {
  animation: Slide_up 1.2s ease-out;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

#login-btn {
  animation: Slide_up 1.4s ease-out;
  animation-delay: 0.8s;
  animation-fill-mode: backwards;
}

#register-button {
  animation: Slide_up 1.5s ease-out;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

@keyframes Slide_up {
  from {
    opacity: 0%;
    transform: translateY(100px);
  }

  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}
